{% extends 'base.html' %}
{% block content %}
<head>
<title>Certifications</title>
</head>

<body>
<h1 class="page-header text-center">Add Certification</h1>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<a href='/certifications/'>View All Certifications</a>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Submit">
</form>

</body>


{% endblock content %}
