{% extends "base.html" %}

{% block content %}
<head>
<title>Implementations</title>
</head>

<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1 class="page-header text-center">Implementations - {{ control.number }}</h1>
<body>
<a href="/implementations/{{ pk }}/add">Add Implementations</a> - <a href="/implementations/{{ pk }}/edit">Edit Implementations</a>

<br>
<br>

{% for implementation in implementations %}
Teams:
{% for team in implementation.teams.all %}
{{team.name}}

{% endfor %}
<br>
{{implementation.parameter}}
<br>
{{ implementation.get_implementation_status_display}}
<br>
{{ implementation.get_control_origination_display }}
<br>
{{ implementation.solution }}
<br>
{{ implementation.customer_responsibility}}
<br><br><br>
<br>
{% endfor %}


<div class="control-header">Control Text:</div>
<div class="control-text">{{control.control_text}} </div>
<br>
<br>
{% if control.supplemental_guidance%}

<div class="guidance-header">Supplemental Guidance:</div>
<p class="list-group-item list-group-item-warning">{{control.supplemental_guidance}}</p>
{% endif %}
</body>
{%endblock content%}




