{% extends "base.html" %}

{% block content %}
<head>
<title>Implementations</title>
</head>

<body>
<h1 class="page-header text-center">Implementations</h1>
<body>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Control</th>
      <th scope="col">Completion Status</th>
      <th scope="col">Last Updated</th>
     </tr>
  </thead>
  <tbody>
    <tr>
	
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
     </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
     </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
 	  <td>the Bird</td>
    </tr>
  </tbody>
</table>

</body>
{%endblock content%}




