{% extends "base.html" %}

{% block content %}
<head>
<title>Implementations</title>
</head>

<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1 class="page-header text-center">Implementations - {{ control.number }}</h1>
<body>
<a href="/implementations/{{ pk }}/add">Add Implementations</a> - <a href="/implementations/{{ pk }}/edit">Edit Implementations</a> - <a href="/implementations/{{ pk | add:'-1' }}">Previous Control </a> - <a href="/implementations/{{ pk | add:'1' }}">Next Control</a>

<br>
<br>
<div class="control-header">Control Text:</div>
<div class="control-text">{{control.control_text}} </div>
{% if control.supplemental_guidance%}

<div class="guidance-header">Supplemental Guidance:</div>
<p class="list-group-item list-group-item-warning">{{control.supplemental_guidance}}</p>
{% endif %}
<br>


{% for implementation in implementations %}
<table class="table table-striped implementation-table">
  <thead>
    <tr>
      <th scope="col">Teams</th>
      <th>{% for team in implementation.teams.all %}{{team.name}} - {% endfor %}</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <th scope="row">Parameters</th>
      <td>{{implementation.parameter}}</td>
    </tr>
    <tr>
      <th scope="row">Responsible Role</th>
      <td>{{implementation.responsible_role}}</td>
    </tr>
    
    <tr>
      <th scope="row">Control Origination</th>
      <td>{% for control_origination in implementation.control_origination.all %} {{ control_origination.get_source_display }} <br>{% endfor %}</td>
    </tr>
    <tr>
      <th scope="row">Implementation Status</th>
      <td>{{implementation.get_implementation_status_display}}</td>
    </tr>
    <tr>
      <th scope="row">Customer Responsibility</th>
      <td>{{implementation.customer_responsibility}}</td>
    </tr>
    <tr>
      <th scope="row">Solution</th>
      <td>{{implementation.solution}}</td>
    </tr>
                
  </tbody>
</table>

{% endfor %}







{% comment %} {% for implementation in implementations %}
Teams:
{% for team in implementation.teams.all %}
{{team.name}}

{% endfor %}
<br>
{{implementation.parameter}}
<br>
{{ implementation.get_implementation_status_display}}
<br>
<br>
{% for control_origination in implementation.control_origination.all %}

{{ control_origination.get_source_display }}
<br>

{% endfor %}
<br>
{{ implementation.solution }}
<br>
{{ implementation.customer_responsibility}}
<br><br><br>
<br>
{% endfor %} {% endcomment %}
</body>
{%endblock content%}




