{% extends "base.html" %}

{% block content %}
<head>
<title>{{team.name}} - Implementations</title>
</head>

<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1 class="page-header text-center">{{team.name}} Implementations</h1>
<p>
<a href="/teams/">View All Teams</a>
</p>
{% for implementation in all_implementations %}
<p class='team-view'><a href="/implementations/{{implementation.control.pk}}/">{{ implementation.control.number}}</a></p>
<p class='team-view'>{{implementation.solution}}</p>
<p class='team-view'>Teams with the same solution:
<br>
|
{% for similar_team in implementation.teams.all %}
{{similar_team.name}} |
{% endfor %}
</p>
<br> <br> 
{% endfor %}


</body>
{%endblock content%}




