{% extends "base.html" %}

{% block content %}
<head>
<title>{{certification.name}} - Implementations</title>
</head>

<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1 class="page-header text-center">{{certification.name}} Implementations</h1>
<h2>Controls without implementations:</h2>
<br>
{% for control in missing_controls %}
{{control.number}}
<br>
{% endfor %}

<h2>Implementations missing team responses:</h2>
<br>
{% for team, team_controls in team_missing.items %}
{{ team }}:
{% for team_missing_control in team_controls %}
<br>
{{team_missing_control.number}}
{% endfor %}
<br>
<br>

{% endfor %}


{% comment %} {% for implementation in implementations %}
<a href="/implementations/{{implementation.control.pk}}/">{{ implementation.control.number}} - {{ implementation.teams.all|join:', ' }}</a>
<br> <br> 
{% endfor %} {% endcomment %}


</body>
{%endblock content%}




