{% extends "base.html" %}

{% block content %}
<head>
<title>{{certification.name}} - Implementations</title>
</head>

<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1 class="page-header text-center">{{certification.name}} Implementations</h1>
<h2>Controls without implementations:</h2>
<br>
{% for control in missing_controls %}
{{control.number}}
<br>
{% endfor %}

<h2>Implementations missing team responses:</h2>
{% for team, team_controls in team_missing.items %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{team}}'s Missing Implementations</th>
    </tr>
  </thead>
  <tbody>
  {% for team_missing_control in team_controls %}
  
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="/implementations/{{team_missing_control.pk}}">{{team_missing_control.number}}</a></td>
    </tr>

{% endfor %}
  </tbody>
</table>

{% endfor %}

{% comment %} <br>
{% for team, team_controls in team_missing.items %}
<a href="/teams/{{team}}">{{ team }}</a>:
{% for team_missing_control in team_controls %}
<br>
<a href="/implementations/{{team_missing_control.pk}}">{{team_missing_control.number}}</a>
{% endfor %}
<br>
<br>

{% endfor %} {% endcomment %}


{% comment %} {% for implementation in implementations %}
<a href="/implementations/{{implementation.control.pk}}/">{{ implementation.control.number}} - {{ implementation.teams.all|join:', ' }}</a>
<br> <br> 
{% endfor %} {% endcomment %}


</body>
{%endblock content%}




